gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks
# Ignore build outputs and APK files
build/
*.apk
*.aab

# Dart dependencies
.dart_tool/
.packages
pubspec.lock

# IDE settings
.idea/
.vscode/

